@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font-family: "Inter Tight", sans-serif;
    --primary-bg-color: #2e2a27;
    --primary-text-color: #e8e2da;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: var(--primary-font-family);
    background-color: var(--primary-bg-color);
    font-optical-sizing: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.cover-image{
    width: 100%;
    height: 100vh;
    background-image: url('./assets /img0.jpg ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /* bacground attachment property in CSS sets whether a background image's position is fixed within the viewport, or scroll within it's containing block */
}

.is--nav{
    position: sticky; 
    top: 0;
    z-index: 1000;
    background-color: var(--primary-bg-color);

 }

#site-header{
    width: 100%;
    z-index: 10;
    text-align: center;
    color: white;
    background-color: var(--primary-bg-color);
}

#site-header .site-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    border-bottom: var(--primary-text-color) 1px solid;
    color: var(--primary-text-color);
    margin: 0 2rem;    
}

#site-header .site-nav ul{
    display: flex;
    gap: 1rem;
    list-style: none; 
}

#site-header .site-nav ul li a{ 
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-size: 1.6vw;
    letter-spacing: -1px;
    font-weight: 500;
}


#site-header .site-nav ul li a:hover{
    color: #8c8c8c;
}


#site-main .discover{
    display: flex;
    justify-content: center;
}

#site-main .discover .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.79rem;
    text-align: center;

    & .slide > h1{
        display: block;
        font-size: 13.8vw;
        font-weight: 700;
        color: var(--primary-text-color);
        letter-spacing: -10px;
        line-height: 0.8;
    
        &.lightWidth{
            font-weight: 300;
            font-style: italic;
    
        }
}

}

#discover .container .slide{
    width: 60vw;
    max-width: 60vw;
    margin: 2px;
    background-color: red;
    overflow: hidden;
}