@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font-family: "Inter Tight", sans-serif;
    --primary-bg-color: #2e2a27;
    --primary-text-color: #e8e2da;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: var(--primary-font-family);
    background-color: var(--primary-bg-color);
    font-optical-sizing: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.cover-image{
    width: 100%;
    height: 100%;
    background-image: url('assets/');
}